@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Spidey";
  src: url("./assets/fonts//Mightyspidey-pmaa.ttf") format("truetype");
}

.site-title {
  font-family: "Spidey", sans-serif;
}

.App {
  min-height: 100%;
}
