@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CombackHomeRegular";
  src: url("./assets/fonts/CombackHomeRegular-jEMd9.ttf") format("truetype");
}

.site-title {
  font-family: "CombackHomeRegular", sans-serif;
}
